.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #AF793C !important;
    border: #AF793C solid !important;
}

.btn-primary-border {
    border: #AF793C solid !important;
}

.navbar-primary {
    background-color: #AF793C !important;
    border: #AF793C solid !important;
}

body {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

/* footer */
.footer {
    /* position: static; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 5rem;
 }

 /* images */
 /* Bottom left text */
 /* Container holding the image and the text */
.container-image {
    position: relative;
    text-align: center;
    color: white;
    padding: 1rem;
  }

.bottom-left {
    position: absolute;
    bottom: 18px;
    left: 24px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 18px;
    left: 24px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 18px;
    right: 24px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 18px;
    right: 24px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }